
@font-face {
  font-family: 'YS Web Regular';
  font-style: normal;
  font-weight: 400;
  src: local('YS Web Regular'), local('YS Web-Regular'), url(ys-text-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'YS Web Medium';
  font-style: normal;
  font-weight: 400;
  src: local('YS Web Medium'), local('YS Web-Medium'), url(ys-text-medium.ttf) format('truetype');
}